body{
font-size: 16px;
}

#header-nav {
background-color: orange;
border-radius: 0;
border: 0;
}

.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
text-decoration: none;
}
#nav-list a{
	background-color: white;
	border: 1px solid black;
    color: black;
    margin: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid black;
	margin:0;
}
 section{
 	background-color: grey;
 }
 .navbar-header button.navbar-toggle{
	clear: both;
}
@media(max-width: 767px){

	.navbar-toggle button.navbar-toggle{
		margin-top: 0px;
	}
}



