*{
  box-sizing:border-box;
}
h1{
  text-align: center;
}
#first >h3{
  background-color:blue;
}
#second >h3{
  background-color:green;
}
#third >h3{
  background-color:orange;
}
p{
  padding: 5px;
  text-align: justify;
}
h3{
  right:0px;
  text-align:center;
  margin-top:0px;
  border :1px  solid black;
  margin:0% 0% 2% 70%;
  padding:1px;
}
section{
  background-color: grey;
  position:relative;
  float:left;
  border:1px solid black;
   
}
@media(min-width: 992px){
section{
  width:33%;
  margin: 1px; 
}
}
@media(min-width: 768px) and (max-width: 991px){
#first, #second{
width:49%;
margin-right: 7px;
}
#third{
  width:100%;
margin-top: 10px;
}

}
@media(max-width: 767px){
  section{
width:100%;
margin-bottom: 5px;

}
}